Content-Type: text/html

<html>
    <body>
        <p>
            Hello @ViewBag.UserName,
        </p>
        <p>
            To complete the registration process click on this link: <span style="font-weight: bold">http://localhost/Account/RegisterConfirmation/@ViewBag.ConfirmationToken</span> 
        </p>
        <p>
            Thank you,
        </p>
        <p>
            FormsPoint Inc.
        </p>
    </body>
</html>
