<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->
    <target 
      name="logfile" 
      xsi:type="File" 
      fileName="c:\Log\nlogs.txt" 
      layout="${date:format=yyyyMMddHHmmss} ${message}" />

    <!--<target type="Database" name="database" connectionstring="MyConnectionString">
      <commandText>
        insert into MyLog ([CreateDate], [Origin], [LogLevel], [Message], [Exception], [StackTrace]) values (@createDate, @origin, @logLevel, @message, @exception, @stackTrace);
      </commandText>
      <parameter name="@createDate" layout="${date}"/>
      <parameter name="@origin" layout="${callsite}"/>
      <parameter name="@logLevel" layout="${level}"/>
      <parameter name="@message" layout="${message}"/>
      <parameter name="@exception" layout="${exception:format=Message,StackTrace}"/>
      <parameter name="@stackTrace" layout="${stacktrace}"/>
    </target>-->

    <target type="Database" name="TraceLog" >
      <!--<connectionString>data source=.\;initial catalog=NLog;integrated security=false;User ID=iwillnotfallforthisone;Password=goodtry</connectionString>-->
      <connectionString>Data Source=(localdb)\v11.0;Initial Catalog=ClientManagementContext;Integrated Security=True</connectionString>
      <commandText>
        insert into TraceLog ([LogDate], [LogLevel], [LogMessage]) values (@logDate, @logLevel, @logMessage);
      </commandText>
      <parameter name="@logDate" layout="${date}"/>
      <parameter name="@logLevel" layout="${level}"/>
      <parameter name="@logMessage" layout="${message}"/>
    </target>
    
    <!--<target name="console" xsi:type="Console" />-->
    <!--
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Trace" writeTo="logfile" />
    <!--<logger name="*" minlevel="Info" writeTo="console" />-->

    <logger name="*" appendTo="TraceLog"/>
    <!--<logger name="*" writeTo="mail" minlevel="Error"/>-->
    
    <!--
    <logger name="*" minlevel="Trace" writeTo="f" />
    -->
  </rules>
</nlog>