@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FormsPoint Back office</h1>
    <p class="lead">Client administration, sales, and reporting</p>
    <p><a href="http://formspoint.com" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Administration</h2>
        <p>Technology support and data management
        </p>
        <p><a class="btn btn-default" href="http://backoffice.formspoint.com/admin">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sales</h2>
        <p>Support to the sales force for order management and functions that support customer order fulfillment and duties involved with readying customer-support call centers.</p>
        <p><a class="btn btn-default" href="http://backoffice.formspoint.com/sales">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Reporting</h2>
        <p>Business reporting.</p>
        <p><a class="btn btn-default" href="http://backoffice.formspoint.com/reports">Learn more &raquo;</a></p>
    </div>
</div>